/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

.section-description {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}

.btn-primary {
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-picture {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-bottom: 30px;
    display: flex;
    max-width: 585px;
    flex-direction: column;
    flex-shrink: 0;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0px auto;
}

/* about section styles */
.about {
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#what-i-do-description {
    padding: 30px 150px;
    color: #757575;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50p;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-description, .resume-item-institute{
    color: #757575;
}
.resume-container hr{
    width: 558px;
    height: 1px;
    background-color: #D1D1D1;
    margin: 30px;
}
.resume-item-title{
    margin-bottom: 10px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.social-links{
    margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"],
textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    font-size: 16px;
    color: #757575;
    border-radius: 5px;
    border: none;
    background-color: #FFF;
    width: 100%;
}